*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #4ca1af, #c4e0e5);
}

.jagged {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    bottom: 20px;
    background: paint(jagged-edge);
}
