*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #70e1f5, #ffd194);
}

.jagged-edge {
    width: 100%;
    height: 400px;
    background: paint(jagged-edge);
}