*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

.area {
    width: 400px;
    height: 200px;
    border: 2px solid #666;
    background-image: paint(content-placeholder);
}
