*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
    margin: 0 40px;
    background: #000;
    font: 1rem/1.25 'Mukta Mahee', sans-serif;
}

.dots {
    position: absolute;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    --dot-radius: 0px;
    --dot-spacing: 20px;
    --dot-zoom-radius: 20px;
    --dot-swipe-position: -60%;
    -webkit-mask-image: paint(polka-dot-fade);
    xbackground: url('iconoclasts.png');
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    background-size: cover;
    background-position: center;
    animation: pulse 10s infinite linear;
}

@keyframes pulse {
    50% {
        --dot-swipe-position: 100%;
    }
}
