*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

.area {
    width: 400px;
    height: 200px;
    --border-color: 'asdf';
    xborder-top-style: solid;
    xborder-top-width: 2px;
    border: solid 1px blue;
    line-height: 10px;
    background-color: yellow;
    background-image: paint(polka-dots);
    --wut: 40px;
    transition: --wut 2s;
}

.area:hover {
    --wut: 80px;
}
