*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #000;
    font: 1rem/1.25 'Mukta Mahee', sans-serif;
}

.solid {
    background-image: paint(solid-paint-argument, #c0eb75);

    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
}

.warning {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 20px;
    border-top: 4px dashed #e8590c;
    background-color: #ffe8cc;
    color: #e8590c;
    text-align: center;
}

.no-support .warning {
    display: block;
}

.warning .fas {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
