*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    margin: 0 20px;
    background: linear-gradient(to bottom, #70e1f5, #ffd194);
}

.slot {
    display: flex;
    justify-content: center;
}

.placeholder {
    width: 120px;
    height: 120px;
    background: #fff paint(placeholder-box-props);
    overflow: auto;
    resize: both;
}

.slot:nth-child(1) .placeholder {
    border: 2px solid #fd7e14;
}

.slot:nth-child(2) .placeholder {
    border: 6px solid #228be6;
}

.slot:nth-child(3) .placeholder {
    border: 1rem solid #e64980;
}
